$font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
$base-font-size: 12px;
$base-line-height: 22px;

//colors
$white: #ffffff;
$black: #000000;
$primary-color: #0971ce;
$secondary-color: $black;

$ttgutters: 15px;
$duration: .3s;
$max-popwidth: 220px;
